<ion-view title="Ingreso" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="ingreso-form7" name="loginForm" ng-submit="login(loginForm)" class="list ">
            <ion-list id="ingreso-list4" class=" ">
                <ion-item class="item-icon-left positive  " id="ingreso-list-item10" href="tel:">
                    <i class="icon ion-ios-medical"></i>DIAPPNOSTIC</ion-item>
                <label class="item item-input " id="ingreso-input11">
                    <input type="text" ng-model="mail" placeholder="Email" required>
                </label>
                <label class="item item-input " id="ingreso-input12">
                    <input type="password" ng-model="password" placeholder="Password" required>
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
                        
            <button class=" button button-positive  button-block">Ingresar</button>

            <a href="tel:" id="ingreso-button8" class=" button button-positive  button-block button-clear ">O Registrarse</a>
        </form>
    </ion-content>
</ion-view>