<ion-view title="Registro Resultado" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="registroResultado-card22">
            <div class=" item item-image">
                <a style="display:block;" ui-sref="tabsController.registroEpisodio">
                    <img src="img/XIvP9QhToqiK7jxxffVA_green-ok-icon.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>