<ion-view title="Registro Episodio" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="registroEpisodio-form4" class="list ">
            <ion-list id="registroEpisodio-list2" class=" ">
                <label class="item item-input " id="registroEpisodio-textarea1">
                    <span class="input-label">Descripcion</span><textarea placeholder=""></textarea>
                </label>
                <label class="item item-input " id="registroEpisodio-input7">
                    <span class="input-label">Alimentos</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="registroEpisodio-input8">
                    <span class="input-label">Nivel Dolor</span>
                    <input type="number" placeholder="">
                </label>
                <label class="item item-select " id="registroEpisodio-select1">
                    <span class="input-label">Somnolencia</span>
                    <select>
                        <option>SI</option>
                        <option>NO</option>
                    </select>
                </label>
                <label class="item item-select " id="registroEpisodio-select2">
                    <span class="input-label">Actividad Fisica</span>
                    <select>
                        <option></option>
                        <option>Tortar</option>
                        <option>Caminar</option>
                        <option>Nadar</option>
                        <option>Futbol</option>
                    </select>
                </label>
                <label class="item item-select " id="registroEpisodio-select3">
                    <span class="input-label">Loc. Dolor</span>
                    <select>
                        <option></option>
                        <option>Parietal</option>
                        <option>Frontal</option>
                    </select>
                </label>
                <label class="item item-input " id="registroEpisodio-textarea2">
                    <span class="input-label">Medicamentos</span><textarea placeholder=""></textarea>
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 11px;"></div>
            <a ui-sref="tabsController.registroResultado" id="registroEpisodio-button3" class=" button button-positive  button-block ">Enviar</a>
        </form>
    </ion-content>
</ion-view>